/*mobile and table*/
@media (max-width: 1023px) {
    .header__logo_menu {
        display: none;
    }

    .product_menu__selector {
        font-size: 20px;
    }

    .header__logo_menu--Mobile-Tablet {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__account__link {
        font-size: 35px;
    }

    .header__cart_icon {
        font-size: 30px;
    }

    .header__menu-link {
        color: var(--gray-coler);
        font-size: 24px;
    }

    .product_menu {
        background: white;
        padding: unset;
    }

    .product_menu__selector {
        width: 50%;
        margin-right: unset;
        padding: 0 0 22.41px 0;
    }

    #showMenuOnMobileAndTablet:checked ~ .header__menu-bar label i:nth-of-type(1) {
        display: none;
    }

    #showMenuOnMobileAndTablet:checked ~ .header__menu-bar label i:nth-of-type(2) {
        display: block!important;
    }

    .header__menu__Account-SaleOff div {
        padding: 20px;
        background: white;
    }

    .header__menu__Account-SaleOff .button__red__with-a {
        background: white;
        color: var(--red-color);
        border: var(--red-color) solid 2px;
        margin: 0;
    }

    .header__menu__Account-SaleOff .button__black__with-a {
        background: white;
        color: black;
        border: black solid 2px;
    }
}

/*tablet*/
@media (min-width: 740px) and (max-width: 1023px) {
    .header__menu__Account-SaleOff .header__login-signup {
        display: none;
    }
}

/*mobile*/
@media (max-width: 739px) {
    .header__account_cart .header__account,
    .header__account_cart .header__login-signup{
        display: none;
    }

    .header__menu__Account-SaleOff .header__login-signup {
        display: flex;
    }

    .header__nav {
        padding: 0 20px;
    }

    .header__menu__Account-Mobile-Tablet .button__red__with-a {
        background: var(--red-color);
        color: white;
        border: unset;
    }

    .header__menu__Account-SaleOff .header__login-signup .button__black__with-a,
    .header__menu__Account-SaleOff .header__login-signup .button__blue__with-a {
        margin: 0;
        width: 48%;
    }

    .header__menu__Account-SaleOff .button__blue__with-a,
    .header__menu__Account-SaleOff .button__black__with-a,
    .header__menu__Account-SaleOff .button__red__with-a {
        height: 70px;
        line-height: 70px;
    }
}