/*mobile and table*/
@media (max-width: 1023px) {
    .header__logo_menu {
        display: none;
    }

    .product_menu__selector {
        font-size: 20px;
    }

    .header__logo_menu--Mobile-Tablet {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__account__link {
        font-size: 35px;
    }

    .header__cart_icon {
        font-size: 30px;
    }

    .header__menu-link {
        color: var(--gray-coler);
        font-size: 24px;
    }

    .product_menu {
        background: white;
        padding: unset;
        overflow-x: auto;
        max-height: 49vmax;
    }

    .product_menu__selector {
        width: 50%;
        margin-right: unset;
        padding: 0 0 22.41px 0;
    }

    #showMenuOnMobileAndTablet:checked ~ label i:nth-of-type(1) {
        display: none;
    }

    #showMenuOnMobileAndTablet:checked ~ label i:nth-of-type(2) {
        display: block!important;
    }

    .header__menu__Account-SaleOff div {
        padding: 20px;
    }

    .header__menu__Account-SaleOff .button__red__with-a {
        background: white;
        color: var(--red-color);
        border: var(--red-color) solid 2px;
        margin: 0;
    }

    .header__menu__Account-SaleOff .button__black__with-a {
        background: white;
        color: black;
        border: black solid 2px;
    }

    .container__content_product .container__content_artist__Mobile_tablet {
        display: block;
    }

    .container__content_product--selling-list {
        overflow-x: scroll;
    }

    .container__content_product--selling-list::-webkit-scrollbar{
        display: none;
    }

    .home_produce__category {
        display: none;
    }

    .home_produce__category__pagination__information {
        display: none;
    }

    .home_produce__category__pagination {
        justify-content: center;
    }

    .category__list {
        display: flex;
    }

    .category__list>li {
        width: 50%;
        text-align: center;
        border-top: unset;
    }

    .home_produce__category--mobile-tablet h3 {
        font-size: 2rem;
        margin: 10px 0;
    }

    .category__item__link {
        font-size: 30px;
        line-height: 3.5rem;
    }

    .home_produce__category--mobile-tablet {
        display: flex;
    }

    .header__logo_menu--Mobile-Tablet .oval {
        top: unset;
    }

    .cart__product_items {
        margin-left: unset;
    }

    .cart__title {
        margin-left: unset;
    }
}

/*tablet*/
@media (min-width: 740px) and (max-width: 1023px) {
    .header__menu__Account-SaleOff .header__login-signup {
        display: none;
    }

    .sign_up__form {
        min-width: 600px;
    }
}

/*mobile*/
@media (max-width: 739px) {
    :root {
        --font-link: 5vw;
    }

    .header__account_cart .header__account,
    .header__account_cart .header__login-signup{
        display: none;
    }

    .header__menu-link {
        font-size: var(--font-link);
    }

    .product__selector__header {
        font-size: 1.2rem;
    }

    .header__menu__Account-SaleOff .header__login-signup {
        display: flex;
    }

    .header__nav {
        padding: 0 20px;
    }

    .header__menu__Account-Mobile-Tablet .button__red__with-a {
        background: var(--red-color);
        color: white;
        border: unset;
    }

    .header__menu__Account-SaleOff .header__login-signup .button__black__with-a,
    .header__menu__Account-SaleOff .header__login-signup .button__blue__with-a {
        margin: 0;
        width: 48%;
    }

    .header__menu__Account-SaleOff .button__blue__with-a,
    .header__menu__Account-SaleOff .button__black__with-a,
    .header__menu__Account-SaleOff .button__red__with-a {
        height: 70px;
        line-height: 70px;
    }

    .footer__part {
        text-align: center;
    }

    .container {
        padding: 30px 10px;
    }

    .container__header {
        display: none;
    }

    #all-genres {
        display: none;
    }

    .category__pagination {
        display: none;
    }

    .home_produce__category__pagination {
        margin-top: 30px;
    }

    .category__pagination--mobile-and-tablet {
        display: flex;
    }

    .container__content_product--selling__link {
        display: none;
    }

    .album__track-list::-webkit-scrollbar,
    .shopping_cart_list::-webkit-scrollbar,
    .order_cart::-webkit-scrollbar
    {
        width: 10px;
        background-color: #F5F5F5;
    }

    .album__buy_button {
        position: fixed;
        bottom: 0;
        right: 0;
        flex-direction: row-reverse;
        left: 0;
        z-index: 1;
        background: var(--background-color);
        padding: 10px;
    }

    .album__quantity {
        margin-right: unset;
        margin-left: 10px;
    }

    .sign_up__form {
        border-radius: unset;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: unset;
        min-width: unset;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 812px;
    }

    .name_phoneNumber_input {
        margin-top: unset;
        flex-direction: column;
    }

    .name_phoneNumber_input .has-float-label {
        width: 100% !important;
        margin-top: 20px !important;
    }

    .oval {
        overflow-y: auto;
    }
}